* text=auto

*.cs text diff=csharp
*.shader text
*.cginc text
*.hlsl text

*.unity text eol=lf
*.prefab text eol=lf
*.asset text eol=lf
*.mat text eol=lf
*.meta text eol=lf
*.inputactions text eol=lf

